* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}

img.heroImg {
  width: 700px;
  height: 650px;
  transform: translate(0, -40px);
}

div.heroImgContainer {
  width: 900px;
  border-radius: 440px;
  transform: translate(250px, -30px);
  background: linear-gradient(to right, #ffb199, #ca0200);
}
div.imgholeder {
  width: 1000px;
}
div.heroText {
  position: absolute;
  top: 30%;
  left: 6%;
  z-index: 1;
}

h1.heroTextB {
  font-weight: 700;
}

button.shopBtn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ca0200;
  font-size: 20px;
  cursor: pointer;
}

h3.year {
  text-align: center;
  width: 150px;
  border: dotted #ca0200 3px;
  color: #ca0200;
  font-size: 20px;
  font-weight: 600;
}

p.description {
  color: #000000;
  font-size: 18px;
}
