@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

div.socialMediaContainerDiv {
  background-image: url(../imgs/shoeBackground.png);
}
div.exploreMore {
  background-color: #000000;
  transform: translate(0, -113px);
  width: 408px;
  position: relative;
}

div.exploreMore a {
  position: absolute;
  top: 40% !important;
  left: 30% !important;
}
